:root {
    --font-family-1: 'proxima-nova', 'Helvetica Neue', Helvetica, sans-serif;
    --font-family-2: 'source-serif-pro', Georgia, Times, serif;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-base: 14px;
    --font-size-xxs: 9px;
    --font-size-xs: 10px;
    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;
    --font-size-xxl: 36px;
    --font-size-xxxl: 42px;

    /* Grid/Spacing */
    --gutter: 20px;

     /* Colors */
    --black: #000000;
    --white: #ffffff;

    --blue-dark: #338d9d;
    --blue: #4abdd2;
    --blue-light: #91d7e4;
    --blue-lighter: #b6e5ed;
    --blue-lightest: #eef4f9;

    --navy: #303f4f;
    --navy-2: #203856;
    --navy-dark: #18232e;
    --navy-light: #70859c;
    --navy-lighter: #acb8c8;
    --navy-lightest: #e8f6f8;

    --purple: #50376d;
    --purple-dark: #301c51;
    --purple-light: #685189;
    --purple-lighter: #8f79b2;
    --purple-lightest: lighten(var(--purple-lighter), 30%);

    --gray: #414141;
    --gray-dark: #262220;
    --gray-light: #828282;
    --gray-lighter: #cdcdcd;
    --gray-lightest: lighten(var(--gray-lighter), 10%);

    --red: #ff5a60;
    --red-dark: #c0383e;
    --red-light: #fd7c82;
    --red-lighter: #fecacd;
    --red-lightest: lighten(var(--red-lighter), 8%);

    --orange: #f6a046;
    --yellow-dark: #dbc65e;
    --yellow: #f7e172;

    --offwhite: #fafafa;
    --white: #ffffff;
    --black: #000000;

    --green: #46a546;

    --highlight: #ffc;

    --gray-base: #000;
    --gray-darker: lighten(var(--gray-base), 13.5%);
    --gray-dark: lighten(var(--gray-base), 20%);
    --gray: lighten(var(--gray-base), 33.5%);
    --gray-light: lighten(var(--gray-base), 46.7%);
    --gray-lighter: lighten(var(--gray-base), 93.5%);
    --brand-primary: darken(#428bca, 6.5%);
    --brand-success: #5cb85c;
    --brand-info: #5bc0de; 
    --brand-warning: #f0ad4e;
    --brand-danger: #d9534f;

    --table-bg-hover: #f5f5f5;
}




// 
// BASE STYLES
//

body 
    background: --gray-lightest
    font-family: --font-family-1
    margin: (--gutter / 2)
    overflow-y: scroll

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family: --font-family-2
    color: --navy-2
    font-weight: --font-weight-bold
    
h1, .h1
    font-size: --font-size-xxl
    
h3, .h3
    font-size: --font-size-xl
    font-weight: --font-weight-regular

h4, .h4
    font-size: --font-size-lg
    font-weight: --font-weight-regular

/* ACCORDION */

.accordion
    border: 1px solid --gray-lighter
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15)

.accordion-toggle
    display: block
    width: 100%
    cursor: pointer
    padding: --gutter
    margin: 0
    border: 0
    border-bottom: 1px solid --gray-lighter
    background-color: --white
    font-size: --font-size-md
    font-weight: --font-weight-semibold
    line-height: inherit
    text-align: left
    
    &:hover
        background-color: $table-bg-hover
    
    .is-open > &
        background-color: --navy-2
        color: --white
    
.accordion-panel
    display: none
    background-color: --white
    padding: --gutter
    border-bottom: 1px solid --gray-lighter
    
    > *:last-child
        margin-bottom: 0
    
    .is-open > &
        display: block